<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720483136632-3ehcdovfv93j92evt9v114u66hkbvoj2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720483136632-3ehcdovfv93j92evt9v114u66hkbvoj2</string>
	<key>API_KEY</key>
	<string>AIzaSyBtZgrNKml0r1MWXyHrd5VefOf67TYWo18</string>
	<key>GCM_SENDER_ID</key>
	<string>720483136632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pacificaihan.FirebaseAuthie-v1</string>
	<key>PROJECT_ID</key>
	<string>fir-authie-v1</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authie-v1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720483136632:ios:0122a6218ae91424cf298d</string>
</dict>
</plist>